# Carpetas temporales, caches y binarios
*.o
*.d
*.out
*.obj
*.exe
*.log
*.launch
*.tmp

# Carpetas de build
Debug/
Release/
RemoteSystemsTempFiles/
.cache/
.metadata/
.jxbrowser.userdata/

# Proyectos pendientes para subir al repositorio
/c24-GPTM_EdgeCount/
/c25-GPTM_EdgeTime/
/c26-GPTM_PWM/
/c25-UART_Tx/
/c26-UART_Rx/
/c27-UART_terminal/
/c28-I2C/
/c29-I2C_Interrupt/
/c30-SSI/

# Proyectos
/P04-GPIO_Interrupt/
/P05-ADC_GPTM_UART/

# Tareas
/T03-CodigoBasico_asm/
/T04-Programa_asm/
/T05-GPIO_asm/
/T06-GPIO_c/
/T08-Temporizador/
/T09-UART_Chat/